/.directory
/.htaccess
/abtest/
/b24connector/
/bitrix.eshop/
/bitrix.sitecorporate/
/bitrixcloud/
/blog/
/catalog/
/clouds/
/compression/
/conversion/
/currency/
/fileman/
/form/
/forum/
/highloadblock/
/iblock/
/landing/
/main/
/messageservice/
/mobileapp/
/perfmon/
/photogallery/
/pull/
/report/
/rest/
/sale/
/scale/
/search/
/security/
/sender/
/seo/
/socialservices/
/storeassist/
/subscribe/
/translate/
/ui/
/updater_partner.log
/vote/
